/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */
// scss-docs-start import-stack
// Configuration
// @import "bootstrap/scss/boostrap";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Mashine';
  src: local('Mashine'), local('Mashine-SemiBold'),
       url('/fonts/mashine/Mashine-semibold.woff') format('woff'),
       url('/fonts/mashine/Mashine-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
